<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">Digipodium</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Demo</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
          <div class="input-group">
              <input type="search" class="form-control" placeholder="Search" 
              aria-label="search" aria-describedby="search-widget">
              <div class="input-group-append">
                  <a href="/search" class="input-group-text bg-success text-light" style="text-decoration:none;" id="search-widget">
                    <i class="fa fa-search"></i>
                  </a>
                </div>  
            </div>            
      </form>
    </div>
  </nav>